- if @page
  %title= page_title prefix: local_assigns.fetch(:title_prefix, nil), separator: local_assigns.fetch(:title_separator, nil)
  - if @page == Alchemy::Language.current_root_page
    %link{rel: 'canonical', href: request.original_url == main_app.alchemy_url ? show_alchemy_page_url(@page) : main_app.alchemy_url}
  = tag(:meta, property: 'og:locale', content: "#{@page.language.code}_#{@page.language.country_code.blank? ? @page.language.code.upcase : @page.language.country_code.upcase}")
  = tag(:meta, name: 'created', content: @page.updated_at)
  = tag(:meta, name: 'robots', content: meta_robots)
  = tag(:meta, property: 'og:type', content: 'website')
  = tag(:meta, name: 'twitter:title', property: 'og:title', content: @page.title)
  = tag(:meta, name: 'twitter:url', property: 'og:url', content: request.original_url)
  = tag(:meta, name: 'twitter:card', content: 'summary')
  = tag(:meta, name: 'twitter:domain', property: 'og:site_name', content: t('meta_title', default: ''))
  = tag(:meta, name: 'description', content: meta_description, lang: @page.language_code) if meta_description.present?
  = tag(:meta, name: 'twitter:description', property: 'og:description', content: meta_description.html_safe) if meta_description.present?
  = tag(:meta, name: 'keywords', content: meta_keywords, lang: @page.language_code) if meta_keywords.present?
  = auto_discovery_link_tag(:rss, show_alchemy_page_url(@page, format: :rss)) if @page.contains_feed?